<%- include('layout/dashboard-header') %>
<body>
    <div class="container">
        <div onmouseover="main()" onmouseout="hide()" class="sidebar">
            <i class="fa-solid fa-bars"></i>
            <div id="barList" class="sidebar-list">
                <a href="/dashboard"><div onmouseover="setColor7()" onmouseout="unsetColor7()" class="my-list">
                    <i id="color7" class="fa-solid fa-table-columns"></i>
                    <div>Dashboard</div>
                </div></a>
                <a href="/daily"><div onmouseover="setColor()" onmouseout="unsetColor()" class="my-list">
                    <i id="color" class="fa-solid fa-calendar-day"></i>
                    <div>My Daily</div>
                </div></a>
                <a href="#"><div onmouseover="setColor1()" onmouseout="unsetColor1()" class="my-list">
                    <i id="color1" id="color" class="fa-solid fa-calendar-week"></i>
                    <div>My Weekly</div>
                </div></a>
                <div onmouseover="setColor2()" onmouseout="unsetColor2()" class="my-list">
                    <i id="color2" id="color" class="fa-solid fa-calendar-days"></i>
                    <div>My Monthly</div>
                </div>
                <a href="/money"><div onmouseover="setColor3()" onmouseout="unsetColor3()" class="my-list">
                    <i id="color3" id="color" class="fa-solid fa-wallet"></i>
                    <div>My Money</div>
                </div></a>
                <div onmouseover="setColor4()" onmouseout="unsetColor4()" class="my-list">
                    <i id="color4" id="color" class="fa-solid fa-gift"></i>
                    <div>My Reward</div>
                </div>
            </div>
            <div id="account-list" class="sidebar-account">
                <a href="/setting"><div onmouseover="setColor5()" onmouseout="unsetColor5()" class="my-list">
                    <i id="color5" id="color" class="fa-solid fa-gear"></i>
                    <div>Setting</div>
                </div></a>
                <div onclick="confirmLogout()" onmouseover="setColor6()" onmouseout="unsetColor6()" class="my-list">
                    <i id="color6" id="color" class="fa-solid fa-right-from-bracket"></i>
                    <div>Logout</div>
                </div>
            </div>
        </div>
        <div class="dashboard">
            <div class="header">
                <div class="greeting">
                    <div id="greeting-message" class="greeting-text"></div>
                    <div id="motivation-text" class="motivation-text"></div>
                </div>
                <div class="calendar">
                    <div id="day" class="calendar-day"></div>
                    <div id="date" class="calendar-date"></div>
                    <div id="month" class="calendar-month"></div>
                </div>
            </div>
            <div class="list">
                <div class="header-list">
                    <div>Dashboard</div>
                </div>
                <div class="content-list">
                    <div onclick="myDaily()" class="list-card">
                        <i class="fa-solid fa-calendar-day"></i>
                        <div>My Daily</div>
                    </div>
                    <div class="list-card">
                        <i class="fa-solid fa-calendar-week"></i>
                        <div>My Weekly</div>
                    </div>
                    <div class="list-card">
                        <i class="fa-solid fa-calendar-days"></i>
                        <div>My Monthly</div>
                    </div>
                    <div onclick="myMoney()" class="list-card">
                        <i class="fa-solid fa-wallet"></i>
                        <div>My Money</div>
                    </div>
                    <div class="list-card">
                        <i class="fa-solid fa-gift"></i>
                        <div>My Reward</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-container">
        <div class="button-chat">
            <i class="fa-brands fa-rocketchat"></i>
            <div>Chat</div>
        </div>
        <section>
            <div class="live-chat">
                <div class="header-chat">
                    <div>Live Chat</div>
                    <i id="close-chat" class="fa-solid fa-xmark"></i>
                </div>
                <div class="user-online">
                    <i class="fa-solid fa-user"></i>
                    <div id="online-count"></div>
                </div>
                <div class="main-chat">
                    <ul id="messages"></ul>
                    <form id="form" action="">
                        <input type="text" id="m" autocomplete="off" /><button><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <%- include('layout/dashboard-footer') %>