<%- include('layout/money-header') %>
<body>
    <div class="container">
        <div onmouseover="main()" onmouseout="hide()" class="sidebar">
            <i class="fa-solid fa-bars"></i>
            <div id="barList" class="sidebar-list">
                <a href="/dashboard"><div onmouseover="setColor7()" onmouseout="unsetColor7()" class="my-list">
                    <i id="color7" class="fa-solid fa-table-columns"></i>
                    <div>Dashboard</div>
                </div></a>
                <a href="/daily"><div onmouseover="setColor()" onmouseout="unsetColor()" class="my-list">
                    <i id="color" class="fa-solid fa-calendar-day"></i>
                    <div>My Daily</div>
                </div></a>
                <div onmouseover="setColor1()" onmouseout="unsetColor1()" class="my-list">
                    <i id="color1" id="color" class="fa-solid fa-calendar-week"></i>
                    <div>My Weekly</div>
                </div>
                <div onmouseover="setColor2()" onmouseout="unsetColor2()" class="my-list">
                    <i id="color2" id="color" class="fa-solid fa-calendar-days"></i>
                    <div>My Monthly</div>
                </div>
                <a href="/money"><div onmouseover="setColor3()" onmouseout="unsetColor3()" class="my-list">
                    <i id="color3" id="color" class="fa-solid fa-wallet"></i>
                    <div>My Money</div>
                </div></a>
                <div onmouseover="setColor4()" onmouseout="unsetColor4()" class="my-list">
                    <i id="color4" id="color" class="fa-solid fa-gift"></i>
                    <div>My Reward</div>
                </div>
            </div>
            <div id="account-list" class="sidebar-account">
                <a href="/setting"><div onmouseover="setColor5()" onmouseout="unsetColor5()" class="my-list">
                    <i id="color5" id="color" class="fa-solid fa-gear"></i>
                    <div>Setting</div>
                </div></a>
                <div onclick="confirmLogout()" onmouseover="setColor6()" onmouseout="unsetColor6()" class="my-list">
                    <i id="color6" id="color" class="fa-solid fa-right-from-bracket"></i>
                    <div>Logout</div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="header">
                <div class="header-left">
                    <i id="color" class="fa-solid fa-calendar-day"></i>
                    <div>My Money</div>
                </div>
            </div>
            <div class="content-container">
                <div class="card-container">
                    <div class="card">
                        <div class="header-card">
                            <i class="fa-solid fa-sack-dollar"></i>
                            <div>Balance</div>
                        </div>
                        <div class="balance">
                            <div class="rupiah">Rp</div>
                            <div id="balance"></div>
                            <button id="reset-btn" class="reset-btn">Reset</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header-card">
                            <i class="fa-solid fa-money-bill-transfer"></i>
                            <div>Deposite</div>
                        </div>
                        <div class="deposite">
                            <div class="rupiah">Rp</div>
                            <input id="deposite" class="input-money" type="number" min="1" step="any" />
                            <button id="deposit-button" class="submit-deposite-btn">Submit</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header-card">
                            <i class="fa-solid fa-money-bill-transfer"></i>
                            <div>Withdraw</div>
                        </div>
                        <div class="withdraw">
                            <div class="rupiah">Rp</div>
                            <input id="withdraw" class="input-money" type="number" min="1" step="any" />
                            <button id="withdraw-button" class="submit-withdraw-btn">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="history-container">
                    <div id="trash-can">
                        <i onclick="cardRemoveFunction()" class="fa-solid fa-trash-can"></i>
                    </div>
                    <div class="header-history">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <div class="header-history-text">Transaction History</div>
                    </div>
                    <div class="history-log">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('layout/money-footer') %>
    