<script>
    function main(){
        document.getElementById("barList").style.display = "block";
        document.getElementById("account-list").style.display = "block";
    }
    function hide(){
        document.getElementById("barList").style.display = "none";
        document.getElementById("account-list").style.display = "none";
    }

    function setColor(){
        document.getElementById("color").style.color = "#cfcfcf";
    }
    function unsetColor(){
        document.getElementById("color").style.color = "#030303";
    }
    function setColor1(){
        document.getElementById("color1").style.color = "#cfcfcf";
    }
    function unsetColor1(){
        document.getElementById("color1").style.color = "#030303";
    }
    function setColor2(){
        document.getElementById("color2").style.color = "#cfcfcf";
    }
    function unsetColor2(){
        document.getElementById("color2").style.color = "#030303";
    }
    function setColor3(){
        document.getElementById("color3").style.color = "#cfcfcf";
    }
    function unsetColor3(){
        document.getElementById("color3").style.color = "#030303";
    }
    function setColor4(){
        document.getElementById("color4").style.color = "#cfcfcf";
    }
    function unsetColor4(){
        document.getElementById("color4").style.color = "#030303";
    }
    function setColor5(){
        document.getElementById("color5").style.color = "#cfcfcf";
    }
    function unsetColor5(){
        document.getElementById("color5").style.color = "#030303";
    }
    function setColor6(){
        document.getElementById("color6").style.color = "#cfcfcf";
    }
    function unsetColor6(){
        document.getElementById("color6").style.color = "#030303";
    }
    function setColor7(){
        document.getElementById("color7").style.color = "#cfcfcf";
    }
    function unsetColor7(){
        document.getElementById("color7").style.color = "#030303";
    }
    document.addEventListener('DOMContentLoaded', function () {
        var username = '<%= username %>';
        var greetingMessageElement = document.getElementById('greeting-message');
        var currentTime = new Date().getHours();

        if (currentTime >= 5 && currentTime < 12) {
            greetingMessageElement.innerText = 'Good Morning, ' + username;
        } else if (currentTime >= 12 && currentTime < 18) {
            greetingMessageElement.innerText = 'Good Afternoon, ' + username;
        } else {
            greetingMessageElement.innerText = 'Good Evening, ' + username;
        }
    });

    document.addEventListener('DOMContentLoaded', function (){
        var motivationText = [
            "What's on your agenda for today?",
            "Any plans on your schedule today?",
            "What do you have lined up for today?",
            "How are you spending your day today?",
            "Any specific plans for today?",
            "What's your plan of action for today?",
            "What's in store for you today?",
            "Any activities or tasks planned for today?",
            "How are you occupying yourself today?",
            "What are your plans for the day ahead?",
            "Seize the day!",
            "Embrace challenges boldly.",
            "Pursue your passions.",
            "Achieve your goals.",
            "Stay focused, achieve.",
            "Strive for greatness.",
            "Unleash your potential.",
            "Inspire with action.",
            "Conquer your fears.",
            "Make every moment count."
        ];
        var randomMotivation = motivationText[Math.floor(Math.random() * motivationText.length)];
        document.getElementById('motivation-text').innerText = randomMotivation;
    });

    document.addEventListener('DOMContentLoaded', function (){
        var myDay = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
        var myMonth = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'Desember'];
        var currentDay = new Date().getDay();
        var currentDate = new Date().getDate();
        var currentMonth = new Date().getMonth();
        var currentMyDay = myDay[currentDay];
        var currentMyMonth = myMonth[currentMonth];
        document.getElementById('day').innerText = currentMyDay;
        document.getElementById('date').innerText = currentDate;
        document.getElementById('month').innerText = currentMyMonth;
    });

    document.addEventListener('DOMContentLoaded', function () {
        const buttonChat = document.querySelector(".button-chat");
        const closeChat = document.getElementById("close-chat");
        const liveChat = document.querySelector("section");

        buttonChat.addEventListener("click", () => liveChat.classList.add("livechat-active"));
        closeChat.addEventListener("click", () => liveChat.classList.remove("livechat-active"));
    });

    function confirmLogout() {
        const logoutConfirmed = window.confirm("Are you sure you want to logout?");
        if (logoutConfirmed) {
            fetch("/logout", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({}),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = "/";
                } else {
                    alert("Logout failed!");
                }
            })
            .catch(error => {
                console.error("Error during logout:", error);
                alert("Logout failed");
            });
        } else {
            window.location.href = "/dashboard";
        }
    }   
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    const socket = io();
    const username = '<%= username %>';

    socket.emit('login', username);

    $('form').submit(function() {
        var inputValue = $('#m').val();

        if (inputValue.trim() === "") {
            return false;
        }
        socket.emit('chat', { message: inputValue, username: username });
        $('#m').val('');
        return false;
    });

    socket.on('chat', function(data) {
        var chatUser = data.username;
        var chatText = data.message;
        var now = new Date();
        var chatTimeHours = now.getHours();
        var chatTimeMinutes = now.getMinutes();

        var listChat = $('<li>');
        var component1 = $('<div class="username-chat">').text(chatUser);
        var component2 = $('<div class="chat-text">').text(chatText);
        var component3 = $('<div class="chat-time">').text(chatTimeHours + ':' + (chatTimeMinutes < 10 ? '0' : '') + chatTimeMinutes);
        
        listChat.append(component1, component2, component3);
        $('#messages').append(listChat);
        var lastChatList = $('#messages li:last')[0];

        lastChatList.scrollIntoView({ behavior: "smooth", block:"end", inline:"nearest"});
    });

    socket.on('userStatus', ({ username, online }) => {
        $('#messages').append($('<li>').text(`${username} is ${online ? 'online' : 'offline'}`));
    });

    socket.on('updateUserCount', (count) => {
        let sumCount = count + 1;
        $('#online-count').text(sumCount);
    });

    window.addEventListener('beforeunload', () => {
        socket.emit('logout', username);
    })
</script>
</body>
</html>